bcrypt==3.2.0
better-profanity==0.7.0
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.7
click==8.0.3
contourpy==1.0.6
cycler==0.11.0
dnspython==2.1.0
email-validator==1.1.3
et-xmlfile==1.1.0
Flask==2.0.2
Flask-Bcrypt==0.7.1
Flask-Login==0.5.0
Flask-SQLAlchemy==2.5.1
Flask-WTF==1.0.0
fonttools==4.38.0
greenlet==1.1.2
idna==3.3
itsdangerous==2.0.1
Jinja2==3.0.2
joblib==1.2.0
kiwisolver==1.4.4
MarkupSafe==2.0.1
matplotlib==3.6.2
numpy==1.24.1
openai==0.25.0
openpyxl==3.0.10
packaging==22.0
pandas==1.5.2
pandas-stubs==1.5.2.221213
Pillow==8.4.0
plotly==5.11.0
psycopg2-binary==2.9.1
pycparser==2.21
pyparsing==3.0.9
python-dateutil==2.8.2
pytz==2022.7
requests==2.26.0
scikit-learn==1.2.0
scipy==1.9.3
six==1.16.0
SQLAlchemy==1.4.26
tenacity==8.1.0
threadpoolctl==3.1.0
tqdm==4.64.1
types-pytz==2022.7.0.0
typing_extensions==4.4.0
urllib3==1.26.7
Werkzeug==2.0.2
WTForms==3.0.0
