{% extends "base.html" %}

{% block content %}
	 <div class="container mt-5">
        <article class="media content-section bg-light">
            <img class="rounded-circle article-img" src="http://makememe.ai/static/profile_pics/5accbb0f0321047f.png">
            <div class="media-body">
                <div class="article-metadata">
                    <a class="mr-2" href="https://twitter.com/josh_bickett/">Josh Bickett</a>
                    <small class="text-muted">Dec. 23rd, 2021</small>
                </div>
                <h2 class="py-3"><a class="article-title" href="{{ url_for('home') }}">Try it yourself</a> </h2>
                <p class="article-content">
                    <b>We are excited to announce that makememe.ai beta is now open to new users.</b> You can now try for yourself. Just sign up for free and get started making memes. With your text as an input, the AI system will select a relevant meme and overlay your text with hopes to give you and others a quick laugh. We hope you and your friends enjoy creating memes. 

                    As we expand and improve makememe.ai, we are interested in hearing your feedback. Once you try it, please let us know what you think by going to the feedback page on the top right.
                    
                    Makememe.ai is powered by OpenAI's GPT-3, a powerful AI system that produces natural language. OpenAI is an AI research and deployment company. 
                </p>
            </div>
        </article>
        <article class="media content-section bg-light">
            <img class="rounded-circle article-img" src="http://makememe.ai/static/profile_pics/5accbb0f0321047f.png">
            <div class="media-body">
                <div class="article-metadata">
                    <a class="mr-2" href="https://twitter.com/josh_bickett/">Josh Bickett</a>
                    <small class="text-muted">Oct. 31st, 2021</small>
                </div>
                <h2 class="py-3"><a class="article-title" href="#">Memes for all</a> </h2>
                <p class="article-content">
                    If a picture is worth a thousand words, then a meme is worth a million. We created this website to make it easy for people to express their ideas through memes. With AI assisted meme creation, we believe people will be able to share deep ideas through comedy. By encouraging meme creation, we are hoping to assist in making the internet a more pleasant place.
                </p>
            </div>
        </article>
        <div class="row justify-content-center my-5">
            <blockquote class="twitter-tweet"><p lang="en" dir="ltr">Who controls the memes,<br>controls the Universe</p>&mdash; Elon Musk (@elonmusk) <a href="https://twitter.com/elonmusk/status/1276418907968925696?ref_src=twsrc%5Etfw">June 26, 2020</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>

    </div>
{% endblock content %}

