{% extends "base.html" %}

{% block content %}
<section class="bg-white">
    <div class="container">
        <div class="row py-5">
            <div class="col-lg-3">

			</div>
            <div class="col-lg-6">
                <div class="card rounded-3 text-dark" >
                    <div class="card-header py-4">FEEDBACK</div>
                    <div class="card-body">
                        <p>We would love your feedback on how to improve. Please let us know your thoughts.</p>
                        <form method="POST">
                            <div class="row gx-5 mb-3">
                                <div class="col-md-12">
                                    <textarea class="form-control" name="description" placeholder="Ideas on how to make better memes, etc." type="text" maxlength="100" required></textarea>
                                </div>
                            </div>
                            <div class="d-grid"><button class="btn btn-primary btn-block" type="submit">SEND FEEDBACK</button></div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-3"></div>
        </div>
    </div>
</section>

{% endblock content %}
