{% extends "base.html" %} {% block content %}

<header class="page-header page-header-light bg-white">
  <div class="page-header-content">
    <div class="container" style="margin-top: 15rem">
      <div class="row justify-content-center">
        <div
          class="col-xl-8 col-lg-10 text-center mb-4 aos-init aos-animate"
          data-aos="fade"
        >
          <h2 class="page-header-title">Technology</h2>
          <p class="page-header-text py-2">
            We use NLP and AI systems to generate memes with nothing more than a
            few sentences from users.
            <br /><br />
            The project is open-source and we are looking for contributors. If
            you are interested, the code is on
            <a href="https://github.com/joshbickett/makememe_ai">Github</a> and
            the
            <a
              href="https://towardsdatascience.com/how-to-make-memes-with-ai-in-python-986944bce5b4"
            >
              Towards Data Science article
            </a>
            explains how the code works. If you have any questions or would like
            to learn more about the project you can reach out to me at
            <a href="mailto:josh@makememe.ai">josh@makememe.ai</a>.
          </p>
        </div>
      </div>
    </div>
  </div>
</header>
{% endblock content %}
