{% extends "meme/base.html" %}
{% block content %}

    <header class="page-header page-header-light bg-white">
        <div class="page-header-content">
            <div class="container" style="margin-top: 15rem;">
                <div class="row justify-content-center">
                    <div class="col-xl-8 col-lg-10 text-center mb-4 aos-init aos-animate" data-aos="fade">
                        <h2 class="page-header-title">About</h2>
                        <p class="page-header-text py-2">
                            We are making it easier for anyone to communicate through memes.
                        </p>







                    </div>
                </div>
            </div>
        </div>

    </header>
{% endblock content %}