{% extends "meme/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

    <header class="page-header page-header-light bg-white">
        <div class="page-header-content">
            <div class="container" style="margin-top: 15rem;">
                <div class="row justify-content-center">
                    <div class="col-xl-8 col-lg-10 mb-4 aos-init aos-animate" data-aos="fade">
                        <div class="content-section">
							<form method="POST">
								{% csrf_token %}
								<fieldset class="form-group">
									<legend class="border-bottom mb-4">Login</legend>
									{{ form|crispy }}
								</fieldset>
								<div class="form-group">
									<button class="btn btn-outline-info" type="submit">Login</button>
								</div>
							</form>
							<div class="border-top pt-3">
								<small class="text-muted">
									Do you need an account <a class="ml-2" href="{% url 'register' %}">Sign up</a>
								</small>
							</div>
						</div>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock content %}
